body{
  background-color: #232323
}
h1{
  color: #fff;
}
.square{
  float: left;
  width: 30%;
  height: 0px;
  padding-bottom: 30%;
  margin: 1%;
  background-color: #232323;
}
.container{
  width: 600px;
  margin: 0 auto;
}
#message{
  color: #fff;
}