*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #232323;
}
h1{
	color: #fff;
	margin: 0 auto;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.7s;
	/* Background color in scripts */
}
button{
	padding-right: 5px;
	padding-left: 5px;
	color: #4682b4;
	height: 100%;
	border: none;	
	outline: none;
	font-size: 110%;
	background-color:#fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	transition: background 0.35s;
}
button:hover {
	color: #fff;
	cursor: pointer;
	background-color: #4682b4;
}
.square{
	float: left;
	width: 30%;
	height: 0px;
	padding-bottom: 30%;
	margin: 0.5vw;
	border-radius: 20px;
	background-color: #232323;
	transition: background 0.5s, opacity 0.7s;
}
.square:hover{
	cursor: pointer;
	opacity: 0.8;
}
.container{
	max-width: 600px;
	padding-top: 2.5vh;
	margin: 0 auto;
}
.selected{
	color: #fff;
	background-color: #4682b4;
}

#message{
	text-align: center;
	height: 50%;
	width: 20%;
}
#stripe{
	display: flex;
	justify-content: center;
	background-color: #fff;
	height: 30px;
	align-items: center;
}
#colorDisplay{
	font-size: 200%;
}
#mode{
	height:100%;
}